<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Apache</h5>
        <ul>
          <li><a class="white-text" href="http://www.apache.org/" target="_blank">Apache Server Foundation</a></li>
          <li><a class="white-text" href="http://www.apache.org/foundation/thanks.html" target="_blank">Thanks</a></li>
          <li><a class="white-text" href="http://www.apache.org/foundation/sponsorship.html" target="_blank">Become a Sponsor</a></li>
          <li><a class="white-text" href="http://www.apache.org/security/" target="_blank">Security</a></li>
        </ul>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Quick Links</h5>
        <ul>
          <li><a class="white-text" href="development.html#downloads">Downloads</a></li>
          <li><a class="white-text" href="learning.html#documentation">Documentation</a></li>
          <li><a class="white-text" href="https://issues.apache.org/jira/browse/airavata/?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel" target="_blank">Issue Tracking</a></li>
        </ul>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Get Involved</h5>
        <ul>
          <li><a class="white-text" href="http://www.joashpereira.com/">Become a Contributor</a></li>
          <li><a class="white-text" href="http://www.joashpereira.com/blog">GSoC Projects</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright default_color">
    <div class="container">
      Copyright &copy; 2016
    </div>
  </div>
</footer>
