

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, p{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif !important;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.3;
    color: #455A64;
}

h1, h2, h3, h4{
    font-family: 'Jost', sans-serif;
    color: #455A64;
}

.theme-nav .item{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.theme-mobile-nav,.ui.menu{
    font-family: 'Jost', sans-serif;
}

#theme-gradient1 {
    background: #e3f4ff !important;
    background: -moz-linear-gradient(339deg, #ffffff 8%, #e3f4ff 71%) !important;
    background: -webkit-linear-gradient(339deg, #ffffff 8%, #e3f4ff 71%) !important;
    background: linear-gradient(339deg, #ffffff 8%, #e3f4ff 71%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='00e2ff', endColorstr='#e3f4ff', GradientType=1) !important;
}

#theme-gradient {
    background-color: #eceff19e;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(/static/images/bg0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 5rem;
}

#footer-gradient{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.brand-logo{
    width: 150px !important;
}

.masthead.segment {
    min-height: 500px;
    padding: 1em 1em;
}

.footer.segment {
    padding: 5em 0em;
}

.theme{
    padding: 6em 1em 5em 1em !important;
}

.page-title{
    color: #FFF;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
}

.theme-h1-header{
    font-size: 52px;
    font-weight:bold;
    line-height: 1.1;
}

.theme-h2-sub-header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.5px;
    color: #00bcd4;
}

.theme-h2-header{
    font-size: 48px;
    font-weight:bold;
    line-height: 1.1;
}

.theme-h3-header{
    font-size: 34px;
    font-weight:bold;
    line-height: 1.1;
}

.theme-header-divider {
    width: 20%;
    border-top: 4px solid #00bcd4 !important;
    border-bottom: none !important;
    height: 20px !important;
    margin: 2rem 0rem !important;
}

.theme-header-divider-centered {
    width: 20%;
    border-top: 4px solid #00bcd4 !important;
    border-bottom: none !important;
    height: 20px !important;
    margin: 2rem auto !important;
}


.feature-box .card .content .header{
    font-weight: bold;
    color: #455A64;
    font-size: 22px;
}

.feature-box .feature-description{
    margin-top:1.5rem;
    font-size: 16px;
    line-height: 1.5;
    color: #455A64;
    text-align: center !important;
}

.feature-box h2{
    text-align: center !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    text-transform: capitalize !important;
}
.feature-box span{
    color: #455A64;
    font-size: 16px;
    line-height: 1;
}

.feature-box{
    padding:1.5rem !important;
    background-color: #ffffff;
    border: 2px solid #455A64;;
    border-radius: 10px;
    margin:0.5rem;
}

.theme-link{
    font-size: 24px;
    color: #00bcd4;
}

.partner-logos img{
    margin: 2vw !important;
}

.footer-text{
    font-size: 14px;
    color: #FFF;
}
.footer-text a{
    color: #00bcd4;
}

.ui.teal.button, .ui.teal.buttons .button {
    background-color: #00bcd4 !important;
}

.ui.ordered.list > .item, ol.ui.list li {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.5;
}

.white-block {
    padding: 3rem 2rem !important;
    background-color: #ffffff;
}

.text-light {
    color: #ffffff;
}






