<!-- Contact -->
<div id="contact" class="ui vertical theme segment" style="border-bottom: none; background-image: url(/assets/img/bg-curve2.svg);
    background-size: 102%;
    background-position: bottom center;
    background-repeat: no-repeat; margin-top:-1px;">
    <div class="ui container">
        <div class="ui stackable container theme grid">
            <div class="row stackable middle aligned center aligned">
                <div class="sixteen wide column left aligned centered middle aligned">
                    <h2 class="theme-h2-header">
                        Many scientific gateways are already using Airavata to perform computations
                    </h2>
                    <p>Get started with Airavata now.</p>
                    <div class="ui hidden divider"></div>
                    <a target="_blank" href="https://testdrive.airavata.org/" class="ui massive yellow button"> Try Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->