  <!-- Footer -->
  <div id="footer-gradient" class="ui vertical footer segment" style="margin-top:-1px; border-top:none !important;">
    <div class="ui left aligned grid container">
      <div class="one wide column">
        <img src="../assets/img/apache-logo.png" class="ui left aligned small image" style="margin-bottom: 1rem">
      </div>
      <div class="four wide column">
        <div class="ui small inverted header">APACHE</div>
        <div class="ui link inverted list">
          <a class="item" href="http://apache.org/">Apache Software Foundation</a>
          <a class="item">Thanks</a>
          <a class="item">Become a Sponsor</a>
          <a class="item">Security</a>
        </div>
      </div>
      <div class="three wide column">
        <div class="ui small inverted header">AIRAVATA</div>
        <div class="ui link inverted list">
          <a class="item">Mailing List</a>
          <a class="item">Downloads</a>
          <a class="item">Documentation</a>
          <a class="item">Issue Tracking</a>
        </div>
      </div>
      <div class="three wide column">
        <div class="ui small inverted header">GET INVOLVED</div>
        <div class="ui link inverted list">
          <a class="item">Become a Contributor</a>
          <a class="item">Student GSoC Projects</a>
        </div>
      </div>
      <div class="five wide column">
      </div>
    </div>
    <div class="ui left aligned container">
      <div class="ui hidden divider"></div>
      <div class="ui divider"></div>
      <div class="ui hidden divider"></div>
      <p class="footer-text">
        Copyright © 2016 The Apache Software Foundation, Licensed under the <a href="">Apache License, Version 2.0</a>.
        <br/>
        <br/>
        Apache Airavata, Airavata, Apache, Apache Airavata Logo and the Apache feather logo are trademarks of The Apache Software Foundation.
      </p>
    </div>
  </div>
  {% if page.layout == "page" %}
<script>
fixPageShort();
function fixPageShort() {
  if(window.innerHeight > document.body.offsetHeight) {
    document.getElementById("footer").style.position="fixed";
    document.getElementById("footer").style.bottom=0;
    document.getElementById("footer").style.right=0;
    document.getElementById("footer").style.left=0;
    document.getElementById("footer").style.width="100%";
  }
}
</script>
{% endif %}
  <!-- End Footer -->