<div class="ui container" style="padding-top:1rem">
    <div class="ui grid computer only tablet only">
        <div class="ui container">
            <div class="ui secondary pointing menu theme-nav" style="border:none">
                <div class="left item">
                    <a href="/"><img
                            src="../assets/img/airavata-logo.png"
                            class="brand-logo"></a>
                </div>
                <div class="right item">
                    <a class="item" href="/platform">Platform</a>
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/learning">Learning</a>
                    <a class="item" href="/publications">Publications</a>
                    <a class="item" href="/community">Community</a>
                    <!--<a class="ui dropdown item">Community<i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" href="">Mailing Lists</div>
                            <div class="item" href="">Releases</div>
                            <div class="item" href="">Contribution</div>
                            <div class="item" href="/community">Community</div>
                            <div class="item" href="">Road Map</div>
                        </div>
                    </a>-->
                    <div class="item">
                        <a class="ui button teal" href="/get-involved">Get Involved</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid mobile only">
        <div class="ui secondary inverted pointing menu theme-mobile-nav" style="border:none">
            <div class="left item">
                <div class="ui dropdown item">
                    <i class="bars icon"></i>
                    <div class="menu">
                        <a class="item" href="/platform">Platform</a>
                        <a class="item" href="/about">About</a>
                        <a class="item" href="/learning">Learning</a>
                        <a class="item" href="/publications">Publications</a>
                        <a class="item" href="/community">Community</a>
                        <!--<a class="ui dropdown item">Community<i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" href="">Mailing Lists</div>
                                <div class="item" href="">Releases</div>
                                <div class="item" href="">Contribution</div>
                                <div class="item" href="/community">Community</div>
                                <div class="item" href="">Road Map</div>
                            </div>
                        </a>-->
                    </div>
                </div>
                <a class="item brand-logo" href="/"><img
                        src="../assets/img/airavata-logo.png"
                        class="ui centered medium image"></a>
            </div>
            <div class="right item">
                <div class="item">
                    <a class="ui button teal" href="/get-involved">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
</div>