---
layout: default
title: Home
---
<div id="" class="ui vertical masthead top-header segment">
    <div class="ui container">
        {% include inner-nav.html %}
        <div class="ui relaxed stackable theme grid">
            <div class="nine wide column left aligned">
                <p>We accelerate your scientific discoveries</p>
                <h1 class="theme-h1-header">
                    Middleware for your experiments
                    on distributed computational resources
                </h1>
                <p>Compose, manage, execute, and monitor computational
                    jobs and workflows on distributed computational
                    including local clusters, supercomputers, national grids,
                    academic and commercial clouds resources</p>
                {% include page-header-cta.html %}
            </div>
            <div class="seven wide column">
                <img class="massive ui centered image"
                     src="/assets/img/header-image.svg">
            </div>
        </div>
    </div>
</div>
<div class="ui fluid container" style="background-color: #000; padding-top: 2rem; padding-bottom: 2rem">
    <div class="ui container grid">
        <div class="eleven wide column">
            <div class="text-light">Science Gateway Platform as a Service (SciGap) powered by Airavata</div>
        </div>
        <div class="four wide column">
            <a href="https://scigap.org/"
               class="theme-link right floated"> Visit scigap.org <i class="arrow circle right icon"></i></a>
        </div>
    </div>
</div>
</div>
<div class="ui vertical theme segment" style="border-bottom: none">
    <div class="ui centered very relaxed stackable fluid-container grid" style="width: 87%;
    margin-left: auto;
    margin-right: auto;">
        <div class="fourteen wide column left aligned middle aligned">
            <h2 class="theme-h2-header">Airavata Software Platform</h2>
            <p>Apache Airavata originated from the Extreme Computing Lab at Indiana University then directed by Dr.
                Dennis Gannon. The concepts and initial versions of the code is a byproduct of over a dozen PhD
                dissertations and years of research and development efforts. The software is initially envisioned to
                meet the challenging goals of the [Linked Environments for Atmospheric Discovery (LEAD) project.</p>
            <div class="ui hidden divider"></div>
        </div>
        <div class="six wide column">
            <img class="massive ui centered image"
                 src="/assets/img/woman-working.svg">
        </div>
        <div class="ten wide column">
            <div class="ui top attached tabular massive menu">
                <a class="item active" data-tab="custos">Custos</a>
                <a class="item" data-tab="mft">MFT</a>
                <a class="item" data-tab="django">Django</a>
            </div>
            <div class="ui bottom attached tab segment active padded-tab" data-tab="custos">
                <div class="theme-h2-sub-header">SECURITY MIDDLEWARE FOR SCIENCE GATEWAYS</div>
                <div class="theme-h3-header">Custos Security Framework</div>
                <div class="padded-tab-content">Science gateways represent potential targets for cybersecurity threats
                    to users, scientific research,
                    and scientific resources. Custos is a software framework that provides common security operations
                    for science gateways, including user identity and access management, gateway tenant profile
                    management, resource secrets management, and groups and sharing management.
                    The goals of the Custos project are to provide these services to a wide range of science gateway
                    frameworks, providing the community with an open source, transparent, and reviewed code base for
                    common security operations; and to operate trustworthy security services for the science gateway
                    community using this software base.
                </div>
                <div class="ui hidden divider"></div>
                <a class="ui black button" target="_blank" href="https://airavata.apache.org/custos/">Visit custos.org
                    <i class="arrow circle right icon"></i> </a>
                <a class="ui basic black button" target="_blank" href="https://github.com/apache/airavata-custos">View
                    on Github <i class="arrow circle right icon"></i> </a>
            </div>
            <div class="ui bottom attached tab segment padded-tab" data-tab="mft">
                <div class="theme-h2-sub-header">MANAGED FILE TRANSFER</div>
                <div class="theme-h3-header">Apache MFT</div>
                <div class="padded-tab-content">Airavata Managed File Transfer (MFT) is the Apache Airavata’s own Data
                    Movement Implementation
                    Framework to avoid traffic flowing through the Airavata Server when moving the data from one cloud
                    storage to another cloud storage. Moving out of the cloud storage to another network seems costly
                    with external cloud providers like Azure, AWS, etc due to the increase of the egress traffic, the
                    MFT framework helps to avoid it.
                </div>
                <div class="ui hidden divider"></div>
                <a class="ui basic black button" target="_blank" href="https://github.com/apache/airavata-mft">View on
                    Github <i class="arrow circle right icon"></i> </a>
            </div>
            <div class="ui bottom attached tab segment padded-tab" data-tab="django">
                <div class="theme-h2-sub-header">web interface to the Apache Airavata API</div>
                <div class="theme-h3-header">Apache Airavata Django Portal</div>
                <div class="padded-tab-content">The Airavata Django Portal is a web interface to the Apache Airavata API
                    implemented using the Django web
                    framework. The intention is that the Airavata Django Portal can be used as is for a full featured
                    web based
                    science gateway but it can also be customized through various plugins to add more domain specific
                    functionality
                    as needed.
                </div>
                <div class="ui hidden divider"></div>
                <a class="ui basic black button" target="_blank"
                   href="https://github.com/apache/airavata-django-portal">View on Github <i
                        class="arrow circle right icon"></i> </a>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical theme segment"
     style="border-bottom: none; background: linear-gradient(to top, #ffffff 25%, #e8ebec 75%);">
    <div class="ui very relaxed stackable container grid">
        <div class="row stackable middle aligned left aligned" style="margin-top: 5rem;">
            <div class="sixteen wide column left aligned middle aligned">
                <h2 class="theme-h2-header">How It Works?</h2>
                <div class="ui hidden divider"></div>
                <p>Gateways use Airavata to manage application and workflow executions on a range of backend resources.
                    Airavata's design goal is to provide component
                    abstractions for major tasks required to provide gateway application management.</p>
                <div class="ui hidden divider"></div>
            </div>
            <div class="ui padded grid" style="background-color: #FFF; padding: 2rem">
                <div class="row">
                    <div class="four wide column">
                        <div class="ui items">
                            <div class="image">
                                <img class="ui tiny image" src="/assets/img/projects.svg">
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">CREATE PROJECTS</a>
                                    <div class="hor-line red">
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh euis
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui items">
                            <div class="image">
                                <img class="ui tiny image" src="/assets/img/organize.svg">
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">ORGANIZE DATA</a>
                                    <div class="hor-line teal">
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh euis
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui items">
                            <div class="image">
                                <img class="ui tiny image" src="/assets/img/experiments.svg">
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">RUN EXPERIMENTS</a>
                                    <div class="hor-line orange">
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh euis
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui items">
                            <div class="image">
                                <img class="ui tiny image" src="/assets/img/share.svg">
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">SHARE WITH COMMUNITY</a>
                                    <div class="hor-line pink">
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh euis
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical theme segment" style="border-bottom: none; background-color: #f5f7f9">
    <div class="ui very relaxed stackable container grid">
        <div class="row stackable middle aligned left aligned">
            <div class="nine wide column left aligned">
                <p>INTERESTED IN USING AIRAVATA IN YOUR PROJECT?</p>
                <h2 class="theme-h2-header">SciGap.org</h2>
                <div class="theme-h2-sub-header">Built with Airavata</div>
                <div class="ui hidden divider"></div>
                <p>Science Gateway Platform as a Service (SciGaP) is the hosted Apache Airavata middleware. The
                    hosted SciGaP provides middleware services for gateways to manage computations and computational
                    data. Research communities can request gateway services from SciGaP.</p>
                <a href="https://scigap.org/"
                   class="theme-link"> Visit scigap.org <i class="arrow circle right icon"></i></a>
            </div>
            <div class="seven wide column">
                <img class="ui middle aligned massive image" data-title="cilogon"
                     data-position="bottom center"
                     src="/assets/img/scigap.png">
            </div>
        </div>
    </div>
</div>
